@use "../../styles/vars" as v;

.cards {
  margin: 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  justify-content: space-between;
  // position: absolute;
  // z-index: 2;
  &__skeleton {
    position: relative;
  };
  &__error {
    color: v.$light-mode-text;
    font-size: 18px;
    font-weight: v.$font-weight-bold;
  }
  &__infos {
    width: 270px;
    height: 300px;
    margin-bottom: 55px;
    transition: all ease-in .3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);  
    }
  }
  &__flag {
    width: 100%;
    height: 170px;
    &--hide {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
  &__content {
    height: 175px;
    margin-top: -4px;
    padding: 25px;
    background: v.$light-mode-bg;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &--title {
      color: v.$light-mode-text;
      font-size: 18px;
      font-weight: v.$font-weight-extra-bold;
    }
    &--details {
      margin-top: 15px;
      line-height: 25px;
      color: v.$light-mode-text;
      font-size: v.$font-size-text;
      font-weight: v.$font-weight-normal;
      & span {
        font-weight: v.$font-weight-bold;
      }
    }
  }
}
