@use "../../styles/vars" as v;

.country {
  margin: 50px 60px;
  &__button {
    position: relative;
    width: 95px;
    height: 28px;
    text-align: center;
    background: v.$light-mode-bg;
    color: v.$light-mode-text;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-weight: v.$font-weight-normal;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &--icon {
      font-size: 15px;
      position: absolute;
      left: 15px;
      top: 6px;
    }
    & span {
      margin-left: 8px;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    height: 350px;
  }
  &__flag {
    width: 40%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__details {
    width: 50%;
    padding: 40px 20px 0 90px;
    &--title {
      color: v.$light-mode-text;
      font-size: 25px;
      font-weight: v.$font-weight-extra-bold;
    }
    &--elements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 25px 0 65px;
      line-height: 25px;
      & p {
        color: v.$light-mode-text;
        font-size: v.$font-size-text;
        font-weight: v.$font-weight-normal;
      }
      & span {
        color: v.$light-mode-text;
        font-weight: v.$font-weight-bold;
      }
    }
    &--list {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      & p {
        color: v.$light-mode-text;
        font-size: v.$font-size-text;
        font-weight: v.$font-weight-normal;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      & span {
        color: v.$light-mode-text;
        font-weight: v.$font-weight-bold;
      }
    }
    &--button {
      width: auto;
      height: 25px;
      padding: 5px 25px;
      margin-right: 7px;
      margin-bottom: 10px;
      background: v.$light-mode-bg;
      color: v.$light-mode-text;
      font-family: "Nunito Sans", sans-serif;
      font-size: 12px;
      font-weight: v.$font-weight-normal;
      border: none;
      border-radius: 4px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
